<!--<a class="github-fork-ribbon left-top" href="https://www.bus-conf.org/tickets/" title="Register Now" style="font-size:17px">Register Now</a>-->

 <div class="header">
     <div class="container">
         <h1 class="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
         <nav style="padding-left:170px; font-size:1.1em" class="nav-collapse">
             <ul class="noList">
                 {% for link in site.navigation %}{% assign current = nil %}{% if page.url contains link.url %}{% assign current = 'current' %}{% endif %}
                 <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
                     <a style="font-size: 1.1em" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                 </li>
                 {% endfor %}
             </ul>
         </nav>

         <h4 class="date" style="float: left; display: block; margin: auto; padding-left: 196px">6.Aug - 8.Aug 2020, Rückersbach, Germany</h4>
     </div>
 </div><!-- end .header -->
